<html>

<head>
  <!-- <script src="{{ url_for('static', filename='main.js') }}"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://unpkg.com/htmx.org@2.0.1" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
</head>

<body>
  <h1>Discord Newsletter Generator</h1>
  <p>This tool will generate a newsletter based on the links sent in a Discord server.
  <div id="channels-form">
    <h2>Add Channels</h2>
    <form hx-post="/links" hx-target="#links" hx-indicator="#spinner-getlinks">
      <div hx-get="/channels" hx-trigger="load" hx-target="this" hx-swap="outerHTML" hx-indicator="#spinner-channels">
        {% with name="channels" %}
        {% include "spinner.html" %}
        {% endwith %}
        Loading Channels...
      </div>
      <button type="submit">
        {% with name="getlinks" %}
        {% include "spinner.html" %}
        {% endwith %}
        Get Links
      </button>
    </form>
  </div>
  <div id="links">
  </div>

</body>

</html>