<form hx-post="/prompt" hx-swap="afterend" hx-indicator="#spinner-promptgenerate">
  <h2>Curate Links and Describe Channel</h2>
  <div id="links-list">
    {% for link in links %}
    {% with index=loop.index %}
    {% include "lazy-link.html" %}
    {% endwith %}
    {% endfor %}
  </div>
  <label for="description">
    Channel Description
    <textarea name="description" type="text">{{ description }}</textarea>
  </label>
  <button type="submit" id="generate">
    {% with name="promptgenerate" %}
    {% include "spinner.html" %}
    {% endwith %}
    Generate Prompt
  </button>
</form>